*{font-family: Arial, Helvetica, sans-serif
    ;padding: 0;margin: 0;box-sizing: border-box;}
.table{width: 100%; 
    background-color: black;color: white;height: 140px;
}
.button{ width: 15% ;

}
button{
    background-color: black;
    color: white;  
}
form{display: flex;
flex-direction: column;
width: 30%;margin: 20px 35% 20px 35% ;}
h2{text-align: center;}
label{font-weight: bold;}
input{margin-top: 10px; height: 30px;}
.hi{
    width: 90%;
color: #ccc;}
select{
    width: 95%; background-color: #ccc;
    height: 25px;
}
h2{margin-top:40px ;}
.bt2{width: 20%;height: 35px;margin-top: 20px;}
p{margin-left: 20PX;}
