p{
    background-color:;
    font-size: medium;
    text-align: left ;
    font-family: Arial, Helvetica, sans-serif;
   ;
    ;
}
.Triều_Tiên{
    color: blue;
    text-decoration: underline;
} 

div{
    background-color: bisque; width: 700px; background-color: beige;
    padding-top: ;
}
main{
    padding: 10px;
}